#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

CFLAGS="-ggdb3 -O2"
CXXFLAGS="-ggdb3 -O2"

.PHONY: binary-quicktest

override_dh_auto_clean:
	dh_clean

.tag-bootstrap:
	./bootstrap.sh -j
	touch .tag-bootstrap

.tag-configure: .tag-bootstrap
	./configure -C --enable-portable-binary --disable-dependency-tracking \
		--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
		--with-gnu-ld --with-python --with-erlang --with-openssl \
		--enable-core-odbc-support --enable-zrtp \
		--prefix=/usr --localstatedir=/var \
		--with-modinstdir=/usr/lib/freeswitch/mod \
		--with-rundir=/var/run \
		--with-dbdir=/var/lib/freeswitch/db \
		--with-htdocsdir=/usr/share/freeswitch/htdocs \
		--with-soundsdir=/usr/share/freeswitch/sounds \
		--with-grammardir=/usr/share/freeswitch/grammar \
		--with-scriptdir=/usr/share/freeswitch/scripts \
		--with-recordingsdir=/var/lib/freeswitch/recordings
	touch .tag-configure

override_dh_auto_configure: .tag-configure

.tag-build: .tag-configure
	make -j
	touch .tag-build

override_dh_auto_build: .tag-build

override_dh_auto_test:

override_dh_strip:
	dh_strip -a -k
	./debian/create-dbg-pkgs.sh

override_dh_auto_install:
	dh_auto_install
	DESTDIR=debian/tmp make cd-sounds-install cd-moh-install

override_dh_installinit:
	dh_installinit -pfreeswitch-sysvinit --name=freeswitch

%:
	dh $@

binary-quicktest:
	dh binary -pfreeswitch -pfreeswitch-sysvinit -pfreeswitch-mod-commands

